[Unit]
Description=Custom TTY Startup
After=local-fs.target

[Service]
ExecStart=/usr/local/bin/tty-startup.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
